<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Profile</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div>
      <form>
        <label for="mafiaName">Hirer Name</label><br />
        <input type="name" id="mafiaName" placeholder="Enter MafiaSos name" /><br /><br />
        <label for="pos">Position</label><br />
        <input type="text" id="pos" placeholder="Enter job position" />
        <br /><br />
        
        <label for="jobdesc"
          >Please post job description</label
        ><br />

        <textarea id="ques" name="ques" rows="4" cols="50">
This job contains ....</textarea
        ><br /><br />

        <button type="submit">POST JOB</button>
      </form>
    </div>
  </body>
</html>
